<!-- <form action="/tasks" method="post">
  <input type="text" placeholder="Enter a Task"  name="task[name]">
  <input type="submit" value="create task">
</form> -->

<%= form_for(@task) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
